# Node
node_modules/

# Builds
build/
dist/
.terraform/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Coverage
coverage/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend frameworks
.next/
.nuxt/
.svelte-kit/
.vite/

# Misc
*.local
*.cache/
.tmp/


